<div id="guanxin">
	<div id="ht-nav">
		<ul>
			<li class="iconfont icon-xiaoxi"></li>
			<li class="title"><a href="#/huati/tuijian">推荐</a></li>
			<li class="title"><a href="#/huati/guanzhu">关注</a></li>
			<li class="iconfont icon-search"></li>
		</ul>
	</div>
	<div class="middle">
		<div class="bao">
			<div class="zhen">
				<div class="zzgx">
					<span id="tiao"></span>
					<span class="xz">我关注的话题</span>
				</div>
				<div class="add" ng-if="xiaoshi">
					<span class="kuang">+</span>
					<span class="kz">赶快去关注你喜欢的话题吧！</span>
				</div>
				<div class="ren" ng-repeat="v in starlist" ng-if="!v.state">
					<span class="ge"><img src="{{v.image}}"></span>
					<div class="kz1">
						<span class="rm">{{v.name}}</span>
					</div>
					<span class="gzz1">new</span>
				</div>
			</div>
			<div class="jian"></div>
			<div class="zhen">
				<div class="zzgx">
					<span id="tiao"></span>
					<span class="xz">可能感兴趣的话题</span>
				</div>
				<div class="ren" ng-repeat="v in starlist" ng-if="v.state">
					<span class="ge"><img src="{{v.image}}"></span>
					<div class="kz">
						<span class="rm">{{v.name}}</span>
						<div class="xx">
							<span>{{v.love}}</span>
							<span>{{v.lun}}</span>
						</div>
					</div>
					<span ng-click="guanxin(v)" class="gzz">关注</span>
				</div>
			</div>
		</div>
	</div>	

	
</div>